@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* *** Global Style goes Here *** */
body {
	font-family: 'Poppins', sans-serif;
}

.active {
	background-color: transparent !important;
	color: #f7931a !important;
	border-bottom: 2px solid #f7931a;
}
